.navbar-dark, .navbar-nav, .nav-link, .nav-item{
    color: whitesmoke!important;
}

.navbar, .navbar-nav .active>.nav-link{
    color: #1B2526 !important;
}

a:hover{
    text-decoration: #97be50!important;
    color: #97be50!important;
}


/* Cards */
.card {
  font-size: 19px;
}

body{
    font-family: 'Abel', sans-serif;
    background: url(img/bariloche4.jpg);
}



/* Menu de navegacion */
.bg-dark {
  background-color: #1B2526 !important;
}

.nav-link.active {
  color: #97be50 !important;
}

.navbar{
    font-family: 'Russo One', sans-serif !important;
    
}

/* Vehiculos */ 
.contenedor-vehiculos {
    background: url('img/bariloche4.jpg'); 
    background-size: cover; 
    margin-top: -10px;
    margin-bottom: -12px;
}

/* Footer */ 

.footer-letra {
    color: white;
    background-color: #1B2526;
}

.fab {
    color: white;
}

footer {
    margin-top: 12px;
}


