.navbar-dark, .navbar-nav, .nav-link, .nav-item{
    color: whitesmoke!important;
}

.navbar, .navbar-nav .active>.nav-link{
    color: #1B2526 !important;
}

a:hover{
    color: #d4d642!important;
}


/* Cards */
.card {
  font-size: 19px;
}

.btn-warning {
    background-color: #d4d642 !important;
    color: black;
}

.btn-warning:hover {
    color: white !important;
}

body{
    font-family: 'Abel', sans-serif;
    
}

/* Menu de navegacion */
.bg-dark {
  background-color: #1B2526 !important;
}

.nav-link.active {
  color: #d4d642 !important;
}

.navbar{  
  font-family: 'Russo One', sans-serif !important;
}

/* Vehiculos */ 
.contenedor-vehiculos {
    background: url('img/bariloche4.jpg'); 
    background-size: cover; 
    margin-top: -10px;
    margin-bottom: -12px;
}

.text-warning {
    color: #d4d642 !important;
}

.card-title {
    font-size: 30px !important;
    margin-bottom: auto;
}

/* Footer */ 

.footer-letra {
    color: white;
    background-color: #1B2526;
}

.fab {
    color: white;
}

footer {
    margin-top: 12px;
}

.h1carousel{
    text-align: center;
    text-transform: uppercase;
    font-family: "EpoXY histoRy";
    color: #97be50;
}
 .first-slide, .second-slide, .third-slide{
     filter:brightness(0.6);
 }

 .bg-trans{
    background-color: rgba(10, 10, 10, 0.6);
 }


/* Formulario inicio
-------------------------------------*/
#teaser {
    height: 542px;
    padding: 60px 0;
    background-image: url(../img/barilo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#texto-home {
    font-family: 'Russo one', sans-serif;
    text-align: left;
    width: 80%;
    height: auto;
    color: #fff;
    font-size: 30px;
    line-height: 33px;
    text-shadow: 7px 0px 6px rgba(212, 214, 66, 0.6);
    font-weight: lighter;
    padding: 10px;
}

.texto-sup {
    font-weight: 300px !important;
    line-height: normal;
}

#teaser .reservation-form-shadow {
    height: 100%;
    background-color: #fff;
    box-shadow: 0 9px 0px 0px #ffffff, 0 -9px 0px 0px #ffffff, 7px 0 15px -4px rgba(0, 0, 0, 0.3), -7px 0 15px -4px rgba(0, 0, 0, 0.3);
}

#teaser form {
    padding: 34px;   
}


#teaser form .styled-select-car {
    border: 2px solid #efe9e9;
    height: 55px;
    position: relative;
    margin-bottom: 23px;
}

#teaser form .styled-select-car select {
    border: none;
    font-size: 18px;
    font-weight: 300;
    width: 100%;
    background-image: none;
    background: #fff;
    -webkit-appearance: none;
    padding: 9px 10px;
    height: 51px;
    outline: none;
}
.styled-select-car .arrow{
    right: 15px;
    top: 16px;
    position: absolute;
    color: #d4d642;
    width: auto;
}

.styled-select-time .arrow {
    right: 10px;
    top: 9px;
    position: absolute;
    color: #d4d642;
}


#teaser form .location {
    margin-bottom: 27px;
}

#teaser form .input-group {
    width: 100%;
}

#teaser form .input-group-addon {
    border-radius: 0;
    border: 1px solid #efe9e9;
    background-color: rgba(212, 214, 66,0.2);
    font-weight: 300;
    font-size: 16px;
    color: #716d6e;
    width: 100px;
    text-align: center;
    padding: 8px;
}

#teaser form .input-group input {
    border-radius: 0;
    color: #716d6e;
    font-size: 15px;
    padding-left: 15px;
    box-shadow: none;
    background: none;
    -webkit-appearance: none;
}
#teaser form .form-control {
    height: 43px;
    border: 2px solid #efe9e9;
    color: #d4d642;
}

#teaser form .datetime {
    margin-bottom: 11px;
}

#teaser form .date {
    width: 73%;
}

#teaser form .time {
    width: 27%;
}

#teaser form .styled-select-time {
    border: 2px solid #efe9e9;
    height: 43px;
    width: 95%;
    position: relative;
}



#teaser form .styled-select-time select {
    border: none;
    font-size: 14px;
    width: 100%;
    background: #fff;
    -webkit-appearance: none;
    padding: 8px 8px;
    height: 39px;
    color: #716d6e;
}

.pull-right {
    float: right!important;
}

.pull-left {
    
    float: left!important;
}

#teaser form .submit {
    width: 100%;
    background-color: #d4d642;
    color: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 6px 6px 0 #efe9e9;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 300;
    padding: 10px 0;
    transition: 0.2s;

}

/* Map */

.map-container{
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    height: 400px;
    box-shadow: 6px 6px 0 #efe9e9;
    
}
.map-container iframe{
    height: 100%;
    width: 100%;
    position: absolute;
}

